* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

.bground-img {
  width: 100%;
  height: 100vh;
}
.music-player {
  font-size: 15px;
  max-width: 25em;
  background-color: #ffffff;
  padding: 1.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 0.6em 1.2em 3em rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  opacity: 0.8;
}
img {
  width: 100%;
}
.song-details {
  font-family: "calibri";
  text-align: center;
}
.song-details #song-name {
  opacity: 0.9;
  font-size: 1.5em;
  font-weight: 900;
}
.song-details #song-artist {
  opacity: 0.7;
  font-weight: 550;

  font-size: 1em;
}
.player-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.music-player button {
  border: none;
  background-color: transparent;
}
#play,
#pause {
  height: 3em;
  width: 3em;
  font-size: 2em;
  background: rgb(226, 131, 170);
  background: radial-gradient(
    circle,
    rgba(226, 131, 170, 1) 0%,
    rgba(128, 53, 84, 1) 100%
  );
  color: #ffffff;
  border-radius: 50%;
}
#prev,
#next {
  color: rgb(226, 131, 170);
  font-size: 3em;
}
.hide {
  display: none;
}
#progress-bar {
  position: relative;
  width: 100%;
  height: 0.3em;
  background-color: #eeeeee;
  margin: 1em 0;
  border-radius: 0.18em;
  cursor: pointer;
}
#current-progress {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 40%;
  background-color: #44203e;
  border-radius: 0.18em;
}
.time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "calibri";
  font-size: 0.9rem;
  opacity: 0.6;
}
@media screen and (max-width: 450px) {
  .music-player {
    font-size: 14px;
  }
}
.playlist-image-container {
  width: 3em;
}
